# Ignore everything by default
*

# Keep key project files 
!.gitignore
!README.md
!manage.py
!requirements.txt

# Keep Django project/app code
!group3_project/
!group3_project/**

# Keep GitHub Actions pipeline
!.github/
!.github/**

# Ignore build/venv/system junk
group3_project/bin/
group3_project/lib/
group3_project/lib64/
group3_project/.pytest_cache/
__pycache__/
*.pyc
.env
db.sqlite3
